@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow-y: scroll;
}

.container {
  max-width: 1024px;
}

p,
h1 {
  margin: 12px 0;
}

a {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  font-size: 25px;
  color: #5b5b5b;
}

ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.5rem;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  color: #5b5b5b;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  color: #5b5b5b;
}

pre {
  margin: 12px 0;
  color: #fff;
  background-color: #000;
  padding: 8px;
  text-wrap: wrap;
  overflow: hidden;
}

@media (max-width: 600px) {
  .container {
    padding: 1.25rem;
  }
}